# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Buildozer
# ----------------------------
.buildozer/
bin/

# ----------------------------
# Android
# ----------------------------
.gradle/

# ----------------------------
# IDE
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Sistema
# ----------------------------
Thumbs.db
.DS_Store

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# SQLite temporário
# ----------------------------
*.sqlite3